{% extends "base.html" %}
{% block title %}User Registration{% endblock %}

{% block content %}
  <section id="cta" class="wrapper">
    <div class="testimonials">
      <section>
        <div class="inner">
        </div>
      </section>

      <section id="#cta" class="wrapper">
        <div class="inner">
          <h2>Monitor News in your style</h2>
          <p>A new way to monitor news</p>
        </div>
      </section>

      <section>
        <div class="inner">
          <blockquote>
            <div class="content">
              <div class="wrapper" align="center">
                <section>
                  <form method="post" action=".">{% csrf_token %}
                    <b>
                            <h2>Sign Up</h2>
                    </b>
                    <table>
                        <tr>
                            {% if form.username.errors %}
                                <div>
                                    {{ form.username.errors }}
                                </div>
                            {% endif  %}
                            <!-- Fianlly this code returns the value to field -->
                            {% if form.username.value %}
                                    <input  type="text"  name="username" placeholder="Username" value="{{ form.username.value }}" required />
                            {% else %}
                                    <input  type="text"  name="username" placeholder="Username" required />
                            {% endif %}
                        </tr>

                        <!-- Passwords will be cleared -->
                        <tr>
                          {% if form.non_field_errors %}
                            <div>
                                {{ form.non_field_errors  }}
                            </div>
                          {% endif  %}
                         <input  type="password" name="password1" placeholder="Password" required/>
                         <input  type="password"  name="password2" placeholder="Re-Enter Password" required/>
                        </tr>

                        <!-- Returns First Name and Last Name to field -->
                        <tr>
                            {% if form.email.errors %}
                                <div>
                                    {{ form.email.errors }}
                                </div>
                            {% endif  %}
                            {% if form.email.value %}
                                    <input  type="email" name="email" placeholder="Email" value="{{ form.email.value }}" required/>
                            {% else %}
                                    <input  type="email" name="email" placeholder="Email" required/>
                            {% endif %}
                        </tr>

                        <!-- Returns First Name and Last Name to field -->
                        <tr>
                            {% if form.fname.errors %}
                                <div>
                                    {{ form.fname.errors }}
                                </div>
                              {% endif  %}
                            {% if form.fname.value %}
                                    <input  type="text" name="fname" placeholder="First Name" value="{{ form.fname.value }}" required/>
                            {% else %}
                                <input  type="text" name="fname" placeholder="First Name" required/>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if form.lname.errors %}
                                <div>
                                    {{ form.lname.errors }}
                                </div>
                              {% endif  %}
                            {% if form.lname.value %}
                                <input  type="text" name="lname" placeholder="Last Name" value="{{ form.lname.value }}" required/>
                            {% else %}
                                <input  type="text" name="lname" placeholder="Last Name" required/>
                            {% endif %}
                        </tr>
                    </table>
                     <button type="submit" class="small" >Sign Up</button>
                      <button type="reset" class="small">Reset</button>
                  </form>

               </section>
                  Already a User ?
                  <a href="/" >
                    <button type="submit" class="small">Login</button>
                  </a>
              </div>
            </div>
          </blockquote>
        </div>
      </section>
    </div>
  </section>
{% endblock %}