{% extends "base.html" %}
{% block title %}User Registration{% endblock %}

{% block content %}
  <section id="cta" class="wrapper">
    <div class="testimonials">
      <section>
        <div class="inner">
        </div>
      </section>

      <section id="#cta" class="wrapper">
        <div class="inner">
          <h2>Monitor News in your style</h2>
          <p>A new way to monitor news</p>
        </div>
      </section>

      <section>
        <div class="inner">
          <blockquote>
            <div class="content">
              <div class="wrapper" align="center">
                <section>
                  <form method="post" action=".">{% csrf_token %}
                    <b>
                            <h2>Sign Up</h2>
                    </b>
                    <table>
                      {% for field in form %}
                          <tr>
                              {% if field.errors %}
                                <div>
                                    {{ field.errors }}
                                </div>
                              {% endif  %}
                              {{ field }}
                          </tr>
                      {% endfor %}
                    </table>
                     <button type="submit" class="small" >Sign Up</button>

                          <button type="reset" class="small">Reset</button>
                  </form>

               </section>
                  Already a User ?
                  <a href="/" >
                    <button type="submit" class="small">Login</button>
                  </a>
              </div>
            </div>
          </blockquote>
        </div>
      </section>
    </div>
  </section>
{% endblock %}