{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}
{% block head %}
 Registration Completed Successfully
{% endblock %}
{% block headtag %}
         <meta http-equiv="refresh" content="2;url=/" />
{% endblock %}


{% block content %}

    <section id="#cta" class="wrapper">
        <div class="testimonials">
            <section>
                <div class="inner">
                </div>
            </section>

            <section>
                <div class="inner">
                    <div class="content">
                        <div class="wrapper" align="center">
                            <section>
                                Thank you for registering. Redirecting To Login Page.
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
