{% extends "base.html" %}
{% block title %}Add Source{% endblock %}

{% block content %}

<section id="main" class="wrapper">
    <div class="inner">
         <br>
        <div class="content">
            <div class="testimonial" align="center">
                 <section class="container">
                     <form method="post" action=".">{% csrf_token %}
                            <table >
                              <tr>
                                    <th>
                                        <label>Title</label>
                                    </th>
                                    <td>
                                      {{ form.title }}
                                    </td>
                              </tr>
                                <br>
                                <tr>
                                    <th>
                                        <label >Body</label>
                                    </th>
                                    <td >
                                     {{ form.body }}
                                    </td>
                              </tr>
                                <tr>
                                    <th>
                                        <label >Publish Date</label>
                                    </th>
                                    <td >
                                     {{ form.pub_date }}
                                    </td>
                              </tr>
                              <tr>
                                    <th>
                                        <label >Source</label>
                                    </th>
                                    <td >
                                        {{ form.source }}
                                    </td>
                              </tr>
                                <tr>
                                    <th>
                                        <label >Url</label>
                                    </th>
                                    <td >
                                     {{ form.url }}
                                    </td>
                              </tr>
                            </table >
                        <button type="submit" class="small">Add</button>
                     </form>
                 </section>

                  {% if form.non_field_errors %}
                     {{ form.non_field_errors }}
                  {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}