{% extends "base.html" %}
{% block title %}Edit Source{% endblock %}

{% block content %}

<section id="main" class="wrapper">
         <br>
        <div class="content">
            <div class="testimonial" align="center">
                 <section class="container">
                     <form method="post" action=".">
                            <table class="add-source">
                              <tr>
                                    <th>
                                        <label>Name</label>
                                    </th>
                                    <td>
                                      {{ form.name }}
                                    </td>
                              </tr>
                                <br>
                              <tr>
                                    <th>
                                        <label >Url</label>
                                    </th>
                                    <td >
                                     {{ form.rss_url }}
                                    </td>
                              </tr>
                                 <tr>
                                    <th>

                                    </th>
                                    <td >
                                     {{ form.item_id.as_hidden }}
                                    </td>
                                </tr>
                            </table >
                        <button type="submit" class="small">Add</button>
                     </form>
                 </section>

                 <p>
                  {% if form.non_field_errors %}
                     {{ form.non_field_errors }}
                  {% endif %}

                  {% if form.errors %}
                        {{ form.errors }}
                  {% endif %}
                 </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}