{% extends "base.html" %}
{% block title %}Edit Story{% endblock %}

{% block content %}

<section id="main" class="wrapper">
    <div class="inner">
        <br>
         <div>
           <ul2>
                <li>
                    <label>
                        <a href="/home" class="home">home</a>
                    </label>
                </li>

                <li>
                    <label>
                        <a href="/add_source/" >Add Source</a>
                    </label>
                </li>

                <li>
                    <label>
                        <a href="/sources_list/" >Sources</a>
                    </label>
                </li>

                <li>
                    <label>
                        <a href="/add_story/" >Add Story</a>
                    </label>
                </li>

               <li>
                    <label>
                        <a href="/stories_list/" >Stories</a>
                    </label>
                </li>

                <li>
                    <label>
                        <a href="/logout/">Logout - {{ user.username }}</a>
                    </label>
                </li>
            </ul2>
          </div>
         <br>
        <div class="content">
            <div class="testimonial" align="center">
                 <section class="container">
                     <form method="post" action=".">{% csrf_token %}
                            <table >
                              <tr>
                                    <th>
                                        <label>Title</label>
                                    </th>
                                    <td>
                                      {{ form.title }}
                                    </td>
                              </tr>
                                <br>
                                <tr>
                                    <th>
                                        <label >Body</label>
                                    </th>
                                    <td >
                                     {{ form.body }}
                                    </td>
                              </tr>
                                <tr>
                                    <th>
                                        <label >Publish Date</label>
                                    </th>
                                    <td >
                                     {{ form.pub_date }}
                                    </td>
                              </tr>
                              <tr>
                                    <th>
                                        <label >Source</label>
                                    </th>
                                    <td >
                                        {{ form.source }}
                                    </td>
                              </tr>
                                <tr>
                                    <th>
                                        <label >Url</label>
                                    </th>
                                    <td >
                                     {{ form.url }}
                                    </td>
                              </tr>

                            <tr>
                                <th>

                                </th>
                                <td >
                                 {{ form.item_id.as_hidden }}
                                </td>
                            </tr>

                            </table >
                        <button type="submit" class="small">Add</button>
                     </form>
                 </section>

                {{ form.errors }}

                  {% if form.non_field_errors %}
                     {{ form.non_field_errors }}
                  {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}