{% extends "base.html" %}
{% block title %}Edit Source{% endblock %}

{% block content %}

<section id="main" class="wrapper">
         <br>
    <div class="inner">
        <div class="content">
            <div class="testimonial" align="center">
                 <section class="container">
                     <form method="post" action=".">
                         <h2>Edit Source</h2>
                            <table class="table-separate">
                              <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                     {{ form.name }}
                                    </td>
                              </tr>

                              <tr>
                                    <td>
                                        Url
                                    </td>
                                    <td >
                                         {{ form.rss_url }}
                                    </td>
                              </tr>
                              <tr>
                                <td>

                                </td>
                                <td >
                                 {{ form.item_id.as_hidden }}
                                </td>
                             </tr>
                            </table >
                        <button type="submit" class="small">Save</button>
                     </form>
                 </section>

                 <p>
                  {% if form.non_field_errors %}
                     {{ form.non_field_errors }}
                  {% endif %}

                  {% if form.errors %}
                        {{ form.errors }}
                  {% endif %}
                 </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}