{% extends "base.html" %}
{% block title %}Edit Source{% endblock %}

{% block content %}

<section id="main" class="wrapper">
    <div class="inner">
        <br>
         <div>
           <ul2>
                <li>
                    <label>
                        <a href="/home" class="home">home</a>
                    </label>
                </li>

                <li>
                    <label>
                        <a href="/add_source/" >Add Source</a>
                    </label>
                </li>

                <li>
                    <label>
                        <a href="/sources_list/" >Sources</a>
                    </label>
                </li>

                <li>
                    <label>
                        <a href="/add_story/" >Add Story</a>
                    </label>
                </li>

               <li>
                    <label>
                        <a href="/stories_list/" >Stories</a>
                    </label>
                </li>

                <li>
                    <label>
                        <a href="/logout/">Logout - {{ user.username }}</a>
                    </label>
                </li>
            </ul2>
          </div>
         <br>
        <div class="content">
            <div class="testimonial" align="center">
                 <section class="container">
                     <form method="post" action=".">
                            <table class="add-source">
                              <tr>
                                    <th>
                                        <label>Name</label>
                                    </th>
                                    <td>
                                      {{ form.name }}
                                    </td>
                              </tr>
                                <br>
                              <tr>
                                    <th>
                                        <label >Url</label>
                                    </th>
                                    <td >
                                     {{ form.rss_url }}
                                    </td>
                              </tr>
                                 <tr>
                                    <th>

                                    </th>
                                    <td >
                                     {{ form.item_id.as_hidden }}
                                    </td>
                                </tr>
                            </table >
                        <button type="submit" class="small">Add</button>
                     </form>
                 </section>

                {{ form.errors }}
                  {% if form.non_field_errors %}
                     {{ form.non_field_errors }}
                  {% endif %}
                 </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}