{% extends "base.html" %}
{% block title %}Edit Story{% endblock %}

{% block content %}

<section id="main" class="wrapper">
         <br>
        <div class="inner">
            <div class="testimonial" align="center">
                <div class="content">
                 <section class="container">
                     <div class="content">
                         <h2>Edit Story</h2>
                         <form method="post" action=".">{% csrf_token %}
                            <table class="table-separate">
                              <tr>
                                    <td width="20%">
                                        Title
                                    </td>
                                    <td>
                                      {{ form.title }}
                                    </td>
                              </tr>
                              <tr>
                                    <td>
                                        Body
                                    </td>
                                    <td >
                                     {{ form.body }}
                                    </td>
                              </tr>
                              <tr>
                                    <td>
                                        Publish Date
                                    </td>
                                    <td >
                                     {{ form.pub_date }}
                                    </td>
                              </tr>
                              <tr>
                                    <td>
                                        Source
                                    </td>
                                    <td >
                                        {{ form.source }}
                                    </td>
                              </tr>
                              <tr>
                                    <td>
                                        Url
                                    </td>
                                    <td >
                                     {{ form.url }}
                                    </td>
                              </tr>

                              <tr>
                                <td>

                                </td>
                                <td >
                                 {{ form.item_id.as_hidden }}
                                </td>
                              </tr>
                            </table>
                            <button type="submit" class="small">Save</button>
                        </form>
                     </div>
                 </section>
                </div>

             {% if form.non_field_errors %}
                 {{ form.non_field_errors }}
             {% endif %}

             {% if form.errors %}
                 {{ form.errors }}
             {% endif %}
            </div>
        </div>
</section>

{% endblock %}