{% extends "base.html" %}
{% block title %}- Sources List{% endblock %}

{% block content %}
<br>
<section id="main" class="wrapper">
    <div class="inner">
        <br>
        <div class="content" align="center">
             <section class="container">
                 <div style="float: right;">
                     <form class="alt" method="get" action="/search_source/">
                         <div style="display: inline-flex; float: right;">
                           <input type="text" id="searchBox" class="small" name="q" placeholder="Search">&nbsp;
                           <input type="submit" class="button small--search" value="Search" >
                         </div><br>
                    </form>
                 </div>

                 <div class="testimonial"><br><br>

                     <div style="float: left;">
                           Sources Count : {{ data|length }} <br>
                     </div>
                     <br>

                     {% if data %}
                            <table class="table-no-change">
                                <tr>
                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        URL
                                    </th>

                                    <th >
                                        Feed
                                    </th>

                                    <th>
                                        Actions
                                    </th>
                                </tr>

                                {% for value in data %}
                                    <tr>
                                        <td width="18%">
                                                {{ value.name }}
                                        </td>

                                        <td>
                                                <a href="{{ value.rss_url }}" target="_blank" >{{ value.rss_url }}</a>
                                        </td>

                                        <td>
                                            <form class="alt" action="/fetch_story/" method="get">
                                                   <input class="button small--table" type="hidden" name="item_id" value="{{value.id}}" />
                                                   <input class="button small--table" type="submit" value="Get" />
                                            </form>
                                        </td>

                                        <td>
                                            <form class="alt" action="/edit_source/" method="get">
                                                   <input class="button small--table" type="hidden" name="item_id" value="{{value.id}}" />
                                                   <input class="button small--table" type="submit" value=" &nbsp;&nbsp;Edit&nbsp;&nbsp; ">
                                            </form>

                                            <form class="alt" action="/remove_source/" method="get" onsubmit="return confirm('Do you really want to Delete');">
                                                   <input class="button small--table" type="hidden" name="item_id" value="{{value.id}}" />
                                                   <input class="button small--table"  type="submit" value="Delete">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                     {% else %}
                                <p> There are no Sources.</p>
                     {% endif %}
                 </div>
             </section>
            <br>
           </div>
    </div>
</section>
{% endblock %}