{% extends "base.html" %}
{% block title %}- Sources List
  <meta name="viewport" content="width=device-width, initial-scale=0" />
{% endblock %}
{% block content %}
<br>
<section id="main" class="wrapper">
    <div class="inner"><br>
        <div class="content" align="center">
             <section class="container">
                <form class="alt" method="get" action="/search_stories/">
                    <div style="display: inline-flex; float: right;" align="right">
                               <input type="text" id="searchBox" class="small" name="q" placeholder="Search"> &nbsp;
                               <input type="submit" class="button small--search" value="Search" >
                    </div>
                    <br>
                </form>
                 <div class="testimonial"><br>
                     <div style="float: left;">
                           Stories Count : {{ data|length }} <br>
                     </div>
                     <br>
                     <!--Message-->
                     <div class="messages">
                         {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                         {% endif %}
                     </div>

                     <!--Show Data-->
                     {% if data %}
                        <table>
                            <tr>
                                <th>
                                    Title
                                </th>

                                <th >
                                    Body
                                </th>

                                <th >
                                    Published on
                                </th>

                                <th>
                                    Source
                                </th>

                                <th>
                                   Action
                                </th>
                            </tr>

                            {% for value in data %}
                                <tr>
                                    <td width="18%">
                                            <a href="{{ value.url }}" target="_blank">
                                                {{ value.title|truncatewords:'9' }}
                                            </a>
                                    </td>
                                    <td>
                                        {{ value.body_text|truncatewords:'30'}}
                                    </td>
                                    <td>
                                            {{ value.pub_date }}
                                    </td>

                                     <td>
                                            <a href="{{ value.source_id__rss_url }}" target="_blank" >{{ value.source_id__name }}</a>
                                    </td>

                                    <td>
                                        <form class="alt" action="/edit_story/" method="get">
                                               <input class="button small--table" type="hidden" name="item_id" value="{{value.id}}" />
                                               <input class="button small--table" type="submit" value=" &nbsp;&nbsp;Edit&nbsp;&nbsp; ">
                                        </form>

                                        <form class="alt" action="/remove_story/" method="get" onsubmit="return confirm('Do you really want to Delete');">
                                               <input class="button small--table" type="hidden" name="item_id" value="{{value.id}}" />
                                               <input class="button small--table"  type="submit" value="Delete">
                                        </form>
                                    </td>
                                </tr>

                            {% endfor %}
                        </table>
                     {% else %}
                     <br><br><br>
                        <p> There are no Stories.</p>
                     {% endif %}
                 </div>
             </section>
           <br>
        </div>
    </div>
</section>
{% endblock %}